<h1>게시물 목록</h1>
<a href="/home/new">새 글 작성</a>

<form action="/home/create" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목: <input type="text" name="post_title"><br/>
    내용: <textarea name="post_content"></textarea><br/>
    <input type="submit" value="작성">
</form>

<% @posts.each do |instance| %>
    제목: <%=instance.title%><br/>
    내용: <%=instance.content%><br/>
    <a href="/home/destroy/<%=instance.id%>">[삭제]</a><br/>
    <% for i in 0...instance.content.length %>
    <%= '_' %>
    <% end %>
    <br/>
<%end%>