<h1>게시물 목록</h1>

<hr/>

<%=link_to(new_post_path) do%><button>글 생성</button><%end%>

<hr/>

<% @posts.each do |instance| %>
    제목: <%=instance.title%><br/>
    내용: <%=instance.content%><br/>
    <!--텍스트가 아닌 다른 것을 넣기 위해 do end로 감싸야 한다-->
    <%=link_to(post_path(instance.id)) do%><button>상세 보기</button><%end%>
    <br/>
    <% for i in 0...instance.content.length %>
        <%= '_' %>
    <% end %><br/>
<%end%>