<!DOCTYPE html>
<html>
  <head>
    <title>Crud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in?%> <!--로그인이 되어있는 경우-->
      <%=current_user.email%> /
      <%=link_to '로그아웃', destroy_user_session_path, method: :delete%>
    <%else%> <!--로그인이 안되어 있는 경우-->
      <%=link_to '회원 가입', new_user_registration_path%> / 
      <%=link_to '로그인', new_user_session_path%>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
